* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #290b46;
  border-radius: 30px;
  max-width: 300px;
  max-height: 900px;
}

main {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


h1{
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}




.demo:not(:empty) {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  display: block;
}

input[type="radio"] {
  display: none;
}

label {
  border: 1px solid #000;
  padding: 10px;
}

label:has(:checked) {
  background-color: #000;
  color: #fff;
}

/**
  💡 Vous aurez besoin de:
    - input:focus
    - input:invalid
    - input:checked ou div:has(input:checked)
*/
